html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu{
    width: 200px;
    height: 300px;
    background-color: #fff;
}
.item, .sobre{
    width: 150px;
    height: 23px;
    padding: 7px;
    background-color: #fff;
}
.item a, .sobre a {
    color: #336600;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.sobre{
    background-color: #0000ff;
}
/*.sobre a {
    color: #fff;
}*/
.sobre{
    background-image: url("matrix.jpg");
}
a:hover{
    color: red;
}
















