    /*
    1) Seletor universal: *
    2) Propriedade box-sizing:
    Especifica se o conteúdo, o padding e a borda
    do elemento devem ser considerados na largura
    e na altura total do elemento.
    Valores:
    content-box: default. As propriedades largura
    e altura incluem apenas o conteúdo
    do elemento. A borda, o padding e
    a margem não são incluídos.
    border-box: as propriedades largura e altura
    incluem o conteúdo, padding e borda,
    mas a margem não é incluída.
    */
* {
    box-sizing: border-box;
}
html, body {
    font-family: "Segoe UI", Verdana, Tahoma, sans-serif;
    margin: 1.5rem;
}
.cabecalho, .rodape {
    background-color: grey;
    color: #E8E8E8;
    padding: 15px;
}
.coluna {
    float: left;
    padding: 15px;
}
    /* Em CSS, o ::after cria um pseudo-elemento
    que é o último filho do elemento selecionado.
    Muitas vezes é usado para adicionar e melhorar
    o conteúdo de um elemento com a propiedade content.
    É inline por padrão.
    */
.ajuste::after {
    content: ""; /* Conteúdo do pseudo-elemento, no caso: "" (string vazio). */
    clear: both;
    display: table; /* Apresenta como uma tabela. */
}
.menu {
    width: 25%;
}
.conteudo {
    width: 75%;
}
.menu ul {
    list-style-type: none; /* Simbolos da lista não ordenada, no caso: nenhum. */
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33B5E5;
    color: #FFFFFF;
}
    /* Pseudo-classe :hover
    Uma pseudo-classe CSS é uma palavra-chave
    adicionada a seletores que especifica um
    estado especial do elemento selecionado.
    Por exemplo :hover aplica um estilo quando
    o usuário passar o mouse sobre o elemento
    especificado pelo seletor.
    */
.menu li:hover {
    background-color: #5D10A0;
}        