html {
    font-family: "Segoe UI", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 16px;
    height: 95%;
}
div.prod, div.serv, div.cont, div.client {
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 1rem;
    width: 5rem;
    height: 1.2rem;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}
div.apagar{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 1rem;
    width: 6rem;
    height: 1.2rem;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
}
#texto{
    clear: left;
    margin-left: 16rem;
    margin-top: 6rem;
}
body{
    width: 50rem;
    margin: 0 auto;
}