main{
    width: 25rem;
    height: 27rem;
    background-color: gainsboro;
    border: 1px gray double;
    margin: 0 auto;
}
input, select{
    margin-top: 1.2rem;
}
div{
    margin-left: 1.5rem;
}
input.botao{
    margin-left: 1.5rem;
}
.resp{
    width: 30rem;
    height: 15rem;
    text-align: center;
    margin: 0 auto;
}
h1{
    text-align: center;
}