html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    color: orangered;
}
div{
    padding: 10px;
    margin: 10px;
    height: 75px;
    border: 3px solid #5D10A0;
}
.flutuar-esquerda{
    display: inline-block;
    text-align: center;
    width: 150px;
    border: 3px solid #73AD21;
}
.posterior{
    border: 3px solid red;
}